:root {
    --blanco:#ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #DFE9F3;

}

html {

    font-size: 62.5%;
    box-sizing: border-box;
}


*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-size:16px;
    font-family:'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% );
}


h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

.sombra {

    box-shadow: 0px 5px 15px 0px rgba(99,98,99,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
.titulo {
    
    color: var(--primario);
    font-family: 'Krub', sans-serif;
}

.titulo span {
    font-size: 2rem;
    color: var(--oscuro);
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align:  center;
}

@media (min-width: 400px) {
 .boton{
    width: auto;
 }   
}


.titulo_principal{
    text-align: center;
}

.barra_nav{
    background-color: var(--secundario);
}

.nav-principal {
    display: flex;
    flex-direction: column; 
}

@media (min-width: 780px) {
    .nav-principal {
        flex-direction: row; 
        justify-content: space-between;  
    }  
}

.nav-principal a{
    display: block;
    align-self: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.nav-principal :hover {
    background-color: var(--primario);
    color: var(--oscuro);
  
}

.hero  {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    background-color: rgb(0, 0, 0, .7);
    background-color: rgb(0 0 0 /60%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {

color: var(--blanco);


}


.prueba {
    color: var(--primario);
}


/** Servicos **/
@media (min-width: 768px){
    .Servicios  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    
    }
    
}
